<%- include("header") -%> 
<link rel="stylesheet" href="css/edit.css" />
</head>
    <body>
        <%- include("navbar") -%> 
        <% var editableQuestion = 50; %> 
        <div class="all_questions">
            <div class="question_selector">
                <select
                    class="questionType form-control"
                    name="questionType"
                    id="category"
                    onchange="selectCategory()"
                >
                    <option value="All">All</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <button class="publish">Publish</button>
            </div>
                <div class="question_section" id="easy">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Easy"){ %>
                            <a href="#">
                                <div onclick="getId(this)" class="question" id="<%= JSON.stringify(Questions[i])%>">
                                    <div class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
                <div class="question_section" id="medium">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Medium"){ %>
                            <a href="#">
                                <div onclick="getId(this)" id="<%= Questions[i]%>" class="question">
                                    <div class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
                <div class="question_section" id="hard">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Hard"){ %>
                            <a href="#">
                                <div  onclick="getId(this)" id="<%= Questions[i]%>" class="question">
                                    <div onclick="getId(this)" class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
        </div>
        <div class="selected_question"></div>
    </div>

    <div class="all_options">
        <form method="post" action="/edit">
        <div class="question_selector1">
            <div class="qhead">
                <p class="qnum" id="qnum">Question <span><%= editableQuestion+1 %> </span> :</p>
                <textarea name="updatedQuestion" rows="4" class="content" id="mainQuestion" disabled><%= Questions[editableQuestion]['Question'] %> </textarea>
            </div>
            <button type="submit" onclick="btnSave()" id="change" class="change">Edit</button>
        </div>
  <div class="questionView">
    <div class="questionPic">
            <img src="./assets/images/SampleQuestion.png" alt="" />
        </div>
        <div class="optionList">
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <textarea name="updatedOptionA" class="content" id="mainOptionA" value="" disabled>A. <%= Questions[editableQuestion]['OptionA'] %>
                    </textarea>
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <textarea name="updatedOptionB" class="content" id="mainOptionB" value="" disabled>B. <%= Questions[editableQuestion]['OptionB'] %></textarea>
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <textarea name="updatedOptionC" class="content" id="mainOptionC" value="" disabled>C. <%= Questions[editableQuestion]['OptionC'] %></textarea>
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <textarea name="updatedOptionD" class="content" id="mainOptionD" value="" disabled>D. <%= Questions[editableQuestion]['OptionD'] %></textarea>
                    </div>
                </div>
            </a>
        </div>
    </form>
    </div>
  </div>
        

    <script src="./assets/js/edit.js"></script>
</body>
</html>

    </body>

