<%- include("header") -%> 
<link rel="stylesheet" href="css/edit.css" />
</head>
    <body>
        <%- include("navbar") -%> 
        <% var editableQuestion = 0; %> 
        <div class="all_questions">
            <div class="question_selector">
                <select
                    class="questionType form-control"
                    name="questionType"
                    id="category"
                    onchange="selectCategory()"
                >
                    <option value="All">All</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <button class="publish">Publish</button>
            </div>
                <div class="question_section" id="easy">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Easy"){ %>
                            <a href="#">
                                <div onclick="getId(this)" class="question" id="<%= Questions[i]['SNo'] %>">
                                    <div class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
                <div class="question_section" id="medium">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Medium"){ %>
                            <a href="#">
                                <div class="question">
                                    <div class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
                <div class="question_section" id="hard">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Hard"){ %>
                            <a href="#">
                                <div class="question">
                                    <div class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
        </div>
        <div class="selected_question"></div>
    </div>

    <div class="all_options">
        <div class="question_selector1">
            <div class="qhead">
                <p class="qnum">Question <span><%= editableQuestion+1 %> </span> :</p>
                <textarea class="content" id="content" disabled><%= Questions[editableQuestion]['Question'] %> </textarea>
            </div>
            <button onclick="btnSave()" id="change" class="change">Edit</button>
        </div>
  <div class="questionView">
    <div class="questionPic">
            <img src="./assets/images/SampleQuestion.png" alt="" />
        </div>
        <div class="optionList">
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <input class="content" id="content" value="<%= Questions[editableQuestion]['OptionA'] %>" disabled>
                    </input>
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <input class="content" id="content" value="<%= Questions[editableQuestion]['OptionB'] %>" disabled>
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <input class="content" id="content" value="<%= Questions[editableQuestion]['OptionC'] %>" disabled>
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <input class="content" id="content" value="<%= Questions[editableQuestion]['OptionD'] %>" disabled>
                    </div>
                </div>
            </a>
        </div>
    </div>
  </div>
        

    <script src="./assets/js/edit.js"></script>
</body>
</html>

    </body>

