<%- include("header") -%> 
<link rel="stylesheet" href="css/edit.css" />
</head>
    <body>
        <%- include("navbar") -%> 
        <% var editableQuestion = 0; %> 
        <div class="all_questions">
            <div class="question_selector">
                <select
                    class="questionType form-control"
                    name="questionType"
                    id="category"
                    onchange="selectCategory()"
                >
                    <option value="All">All</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <button class="publish" id="publish">Open Portal</button>
            </div>
                <div class="question_section" id="easy">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Easy"){ %>
                            <a href="#">
                                <div onclick="getId(this)" class="question" id="<%= JSON.stringify(Questions[i])%>">
                                    <div class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
                <div class="question_section" id="medium">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Medium"){ %>
                            <a href="#">
                                <div onclick="getId(this)" id="<%= JSON.stringify(Questions[i])%>" class="question">
                                    <div class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
                <div class="question_section" id="hard">
                    <% var number_of_questions = Questions.length %> 
                    <% for(var i=0;i<number_of_questions;i++){ %> 
                        <% if(Questions[i]["LOD"]==="Hard"){ %>
                            <a href="#">
                                <div  onclick="getId(this)" id="<%= JSON.stringify(Questions[i])%>" class="question">
                                    <div onclick="getId(this)" class="questionNumber">Q<%= Questions[i]["SNo"] %>.</div>
                                    <%= Questions[i]["Question"] %> 
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
        </div>
        <div class="selected_question"></div>
    </div>

    <div class="all_options">
        <form method="null" action="/edit" id="form-controller">
        <div class="question_selector1">
            <div class="qhead">
                <div  class="questionNumberz">
                    <label>Question</label>
                    <textarea rows="1" cols="15" name="updatedSNo" class="content" id="qnum" disabled> <%= editableQuestion+1 %> </textarea>
                </div>
                <textarea name="updatedQuestion" rows="4" class="content" id="mainQuestion" disabled><%= Questions[editableQuestion]['Question'] %> </textarea>
                <input name="finalData" type="hidden" value="" id="hidden-input"/>
            </div>
            <button onclick="btnSave()" id="change" class="change" type="button" >Edit</button>
        </div>
  <div class="questionView">
    <div class="questionPic">
            <img src="./assets/images/SampleQuestion.png" alt="" />
        </div>
        <div class="optionList">
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <div class="questionNumberz">
                            <label>A. </label>
                            <textarea name="updatedOptionA" class="content" id="mainOptionA" value="" disabled><%= Questions[editableQuestion]['OptionA'] %></textarea>
                        </div>
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <div class="questionNumberz">
                            <label>B. </label>
                            <textarea name="updatedOptionB" class="content" id="mainOptionB" value="" disabled><%= Questions[editableQuestion]['OptionB'] %></textarea>
                        </div>
                        
                    </div>
                </div>
            </a>z
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <div class="questionNumberz">
                            <label>C. </label>
                            <textarea name="updatedOptionC" class="content" id="mainOptionC" value="" disabled><%= Questions[editableQuestion]['OptionC'] %></textarea>
                        </div>
                        
                    </div>
                </div>
            </a>
            <a id="decorate" href="#">
                <div class="options">
                    <div class="optionSelect">
                        <div class="questionNumber">
                            <label>D. </label>
                            <textarea name="updatedOptionD" class="content" id="mainOptionD" value="" disabled><%= Questions[editableQuestion]['OptionD'] %></textarea>
                        </div>
                        
                    </div>
                </div>
            </a>
        </div>
    </form>
    </div>
  </div>
        

    <script src="./assets/js/edit.js"></script>
</body>
</html>

    </body>

